<div class="core-deals-wrapper">
    {{#each productsCore}}
    <div class="card  card--core">
        <a href="#" class="card-link"></a>
        <div class="media">

            {{# if flag }}
                {{# is flag "justadded"}}
                <span class="flag  flag-just-added">Just Added</span>
                {{/is }}

                {{# is flag "toppick"}}
                <span class="flag  flag-toppick">Top Pick</span>
                {{/is }}

                {{# is flag "goingfast"}}
                <span class="flag  flag-goingfast">Going Fast</span>
                {{/is }}
            {{/ if }}

            <img src="{{ this.thumbnail }}" alt="{{ this.productName }}">
            <span class="saving">Save {{ this.saving }}%</span>
        </div>
        <div class="content">
            <h3 class="product-name">{{ this.productName }}</h3>
        </div>
        <div class="pricing">
            <span class="price">{{ this.price }}</span>
            <span class="was">{{ this.wasPrice }}</span>
        </div>
    </div>
    {{/each}}
</div>